.genTableDiv {
  margin-bottom: 32px;
  width: 100%;
}

.wordDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titleRow {
}

.cell {
  border-spacing: 0;
  font-family: "MacPaw Fixel Display", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  color: #121417;
}

.titleRowCell {
  font-size: 16px;
  padding: 16px 27px 16px 14px;
  background-color: rgba(133, 170, 159, 0.1);
  text-align: left;
}

.titleRowCell:last-child {
  border-right: none;
}

.bodyRow {
}

.bodyCell {
  padding: 16px 10px 16px 14px;
  background-color: #fcfcfc;
  font-size: 14px;
}

.bodyCell:last-child {
  border-right: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px 8px 0 8px;
  overflow: hidden;
}

.p {
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-block-end: 0;
}

.icon {
  display: none;
}

.hiddenProgressRecommend {
  display: none;
}

.progressDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.progressP {
  display: none;
}

/* .circle {
  width: 24px;
  height: 24px;
  
} */

@media screen and (max-width: 767px) {
  .hiddenProgressDict {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .p {
    width: 50px;
    display: inline-block;
    overflow-wrap: break-word;
  }

  .titleRowCell {
    padding-right: 14px;
  }
}

@media screen and (min-width: 768px) {
  .genTableDiv {
    margin-bottom: 28px;
    padding: 18px;
    background-color: #fff;
    border-radius: 15px;
  }
  .icon {
    display: block;
    width: 28px;
    height: 28px;
  }

  .cell {
    padding: 22px;
    font-size: 18px;
  }
  .progressP {
    display: block;
  }
  /* .circle {
    width: 26px;
    height: 26px;
    
  } */
}

@media screen and (min-width: 1440px) {
  .icon {
    width: 32px;
    height: 32px;
  }

  .genTableDiv {
  }

  .table {
    border-radius: 8px 8px 8px 8px;
  }

  .cell{
    font-size: 20px;
  }
 
  

  .progressDiv{
   
    justify-content: flex-start;
    
  }
}
