.navIcon {
  width: 32px;
  height: 22px;
  stroke: #121417;
  cursor: pointer;
}

.userBarDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 16px;
  margin-bottom: 74px;
}

.navLogDiv {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-left: 16px;
}

.modal {
  width: 185px;
  height: 100%;
  max-height: 812px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #85aa9f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  padding-top: 16px;
}

.modal:focus {
  outline: none;
}

.closeIcon {
  width: 32px;
  height: 32px;
  fill: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .navIcon {
    width: 40px;
    height: 28px;
    stroke: #121417;
  }

  .modal {
    width: 300px;
    justify-content: flex-start;
    max-height: 1024px;

  }
  .closeIcon {
    width: 40px;
    height: 40px;
  }

  .userBarDiv {
    margin-left: 24px;
    margin-right: 32px;
    margin-bottom: 170px;
  }
  .navLogDiv {
    margin-left: 32px;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1440px) {
  .navIcon {
    display: none;
  }
}
