.logoutHeader {
  display: none;
}
.logoutModal {
  
}

@media screen and (min-width: 1440px) {
  .logoutHeader {
    font-family: "MacPaw Fixel Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    flex-shrink: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .arrowRightIcon {
    stroke: "#121417";
    width: 16px;
    height: 16px;
  }
}
