.genDiv {
  display: flex;
  gap: 10px;
}

.paginationContainer {
  display: flex;
  gap: 10px;
}

.paginationButton {
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  font-weight: 600;
  font-size: 13px;
  font: 600 13px "MacPaw Fixel Display", sans-serif;
  color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.activeButton {
  background: #85aa9f;

  color: #fff;
}

.paginationButton > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  fill: #121417;
}

.colorIcon {
  fill: #85aa9f;
}

.breakButton {
  align-items: flex-end;
}
