/* Подключение MacPawPixelDisplay */
@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-ExtraBold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'MacPawPixelDisplay';
  src: url('./fonts/MacPawPixelDisplay-Thin.otf') format('opentype');
  font-weight: 100;
}

/* Подключение SF Pro Display */
@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Heavy.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro-Display-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}




#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
